
@model EntityLayer.Concrete.Blog

@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blog Düzenleme Sayfası</h1>
<br />
@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
{
    @Html.HiddenFor(x => x.AppUserId)
    @Html.HiddenFor(x => x.CreateDate)
    @Html.HiddenFor(x => x.Status)
    @Html.HiddenFor(x => x.Image)

    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title)
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
    <br />
    @Html.Label("İçerik")
    @Html.TextAreaFor(x => x.Content, 15, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Content)
    <br />
    <button class="btn btn-info">Güncelle</button>
}
